@model CloudFoundry.ViewModels.CloudFoundryViewModel

@{
    ViewBag.Title = "CloudFoundry Configuration Data";
}
<h2>@ViewBag.Title</h2>

<h3>Application Configuration Data</h3>

@if (!string.IsNullOrEmpty(Model.CloudFoundryApplication.ApplicationName))
{
    <h4>vcap:application:application_name = @Model.CloudFoundryApplication.ApplicationName</h4>
    <h4>vcap:application:application_id = @Model.CloudFoundryApplication.ApplicationId</h4>
    <h4>vcap:application:application_version = @Model.CloudFoundryApplication.ApplicationVersion</h4>
    <h4>vcap:application:application_uris = @(Model.CloudFoundryApplication.ApplicationUris != null ? string.Join(",", Model.CloudFoundryApplication.ApplicationUris) : "")</h4>

    <h4>vcap:application:space_name = @Model.CloudFoundryApplication.SpaceName</h4>
    <h4>vcap:application:space_id = @Model.CloudFoundryApplication.SpaceId</h4>

    <h4>vcap:application:instance_id = @Model.CloudFoundryApplication.InstanceId</h4>
    <h4>vcap:application:instance_index = @Model.CloudFoundryApplication.InstanceIndex</h4>

    <h4>vcap:application:limits:disk = @Model.CloudFoundryApplication.DiskLimit</h4>
    <h4>vcap:application:limits:mem = @Model.CloudFoundryApplication.MemoryLimit</h4>
    <h4>vcap:application:limits:fds = @Model.CloudFoundryApplication.FileDescriptorLimit</h4>

    <h4>vcap:application:instance_ip = @Model.CloudFoundryApplication.InstanceIP</h4>
    <h4>vcap:application:port = @Model.CloudFoundryApplication.Port</h4>
}

<h3>Service Configuration Data</h3>

@foreach (var service in Model.CloudFoundryServices.Services)
{
    <h4>Service:  @service.Label</h4>
    <h5>vcap:services:@(service.Label):label = @service.Label</h5>
    <h5>vcap:services:@(service.Label):plan = @service.Plan</h5>
    <h5>vcap:services:@(service.Label):name = @service.Name</h5>
    <h5>
        vcap:services:@(service.Label):tags = @foreach (var tag in service.Tags)
        { @(tag + " ") }
    </h5>
    <h5>vcap:services:@(service.Label):credentials =</h5>
    <service-credentials credentials="@service.Credentials"></service-credentials>

}